<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{.title}}</title>
        <link rel="icon" type="image/x-icon" href="/favicon-16x16.ico">
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Header -->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Top Headlines for a Country</h1>
                    <p class="lead mb-0">Select the country you want to get headlines for!</p>
                </div>
                <div class = "container text-center">
                    <form action="/topheadlines" method="GET">
                        <select id="countries" name="c">
                            <option disabled hidden selected>Select a country</option>
                            <option value="za">South Africa</option>
                            <option value="ae">United Arab Emirates</option>
                            <option value="ar">Argentina</option>
                            <option value="at">Austria</option>
                            <option value="au">Australia</option>
                            <option value="be">Belgium</option>
                            <option value="bg">Bulgaria</option>
                            <option value="ca">Canada</option>
                            <option value="ch">Switzerland</option>
                            <option value="cn">China</option>
                            <option value="co">Colombia</option>
                            <option value="cu">Cuba</option>
                            <option value="cz">Czechia</option>
                            <option value="de">Germany</option>
                            <option value="eg">Egypt</option>
                            <option value="fr">France</option>
                            <option value="gb">United Kingdom</option>
                            <option value="gr">Greece</option>
                            <option value="hk">Hong Kong</option>
                            <option value="hu">Hungary</option>
                          </select>
                          <input type="submit" value="Submit">
                    </form>
                    </div> 
        </header>
    </body>
</html>